body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
    background-color: #BE5985;
    color: white;
    text-align: center;
}

footer {
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
    font-size: 16px;
}

footer b {
    color: #FFDDEB;
}
